<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#3a3a3a">
    <link rel="canonical" href="https://jellyjim.com/pages/contact-us">
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0378/2325/0572/files/Jelly_Jim_cover_2_cdd2965a-42ab-4114-9405-25535a0a02bf_32x32.jpg?v=1597226012" type="image/png">
    <title>Helpdesk Feedback 
      &ndash; JellyJim Nutrition
    </title>
    <!-- /snippets/social-meta-tags.liquid -->
    <meta property="og:site_name" content="JellyJim Nutrition">
    <meta property="og:url" content="https://jellyjim.com/pages/contact-us">
    <meta property="og:title" content="Contact us">
    <meta property="og:type" content="website">
    <meta property="og:description" content="We’re changing the way the world thinks about gummies. We combine nutritiously blessed plants into efficient everyday supplements that support the vital functions of your body and immunity.">
    <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0378/2325/0572/files/DSC03031logo_1200x1200.jpg?v=1606156975">
    <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0378/2325/0572/files/DSC03031logo_1200x1200.jpg?v=1606156975">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contact us">
    <meta name="twitter:description" content="We’re changing the way the world thinks about gummies. We combine nutritiously blessed plants into efficient everyday supplements that support the vital functions of your body and immunity.">
    <link href="//cdn.shopify.com/s/files/1/0378/2325/0572/t/38/assets/theme.scss.css?v=2635157335306741103" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0378/2325/0572/t/38/assets/custom.styles.scss.css?v=16543559386375037951" rel="stylesheet" type="text/css" media="all" />
    <body id="custom_style" class="template-page page-contact ">
      <div id="shopify-section-custom-header" class="shopify-section">
        <style data-shopify>
          .cart-item-count-bubble{
            position: absolute;
            top: -5px;
            left: 53px;
            width: 15px;
            height: 15px;
            background: red;
            border-radius: 50%;
            font-size: 9px;
            text-align: center;
            color: white;
          }
          .cart-item-count-indicator{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 1px;
          }
        </style>
        <div class="header--wrapper">
          <header data-section-id="header" data-section-type="header-section" class="header" role="banner">
            <script>
              $(".header--wrapper .header").css("margin-top", $(".announcement_bar").outerHeight() + "px");
            </script>
            <div class="container">
              <div class="header--inner">
                <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open nav-menu-icon" aria-controls="MobileNav" aria-expanded="false" aria-label="Menu">
                  <svg role="presentation" class="icon icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="32" height="21" viewBox="0 0 32 21" fill="none">
                    <path d="M0 2H32M0 10.5H32M0 19H32" stroke="white" stroke-width="2.5"/>
                  </svg>
                  <svg role="presentation" class=" icon-close" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <path d="M1.5 1.5L21.5 21.5M21.5 1.5L1.5 21.5" stroke="black" stroke-width="2.5"/>
                  </svg>
                </button>
                <div class="logo--wrapper">
                  <h1 class="logo--inner">
                    <a href="https://jellyjim.com" class="logo">                
                      <img src="//cdn.shopify.com/s/files/1/0378/2325/0572/files/Jelly_Jim_3_1_x300.png?v=1587367449" alt="">
                    </a>
                  </h1>
                </div>
                <nav class="navigation--desktop" id="AccessibleNav" role="navigation">
                  <ul class="header-menu collapse navbar-collapse" id="navbarCollapse">
                    <li >
                      <a href="https://jellyjim.com/collections/all"
                         class="site-nav__link site-nav__link--main"
                         >
                        <span>Products
                        </span>
                      </a>
                    </li>
                    <li >
                      <a href="https://jellyjim.com/pages/about-us"
                         class="site-nav__link site-nav__link--main"
                         >
                        <span>About us
                        </span>
                      </a>
                    </li>
                    <li  class="site-nav--active">
                      <a href="https://jellyjim.com/pages/contact-us"
                         class="site-nav__link site-nav__link--main site-nav__link--active"
                         aria-current="page"
                         >
                        <span>Contact us
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://jellyjim.com/cart" class="site-header__icon cart--button">
                        Cart 
                        <svg alt="cart" class="carticon" xmlns="http://www.w3.org/2000/svg" width="17" height="19" viewBox="0 0 17 19" fill="none">
                          <path d="M16.7403 18.3755L15.2962 4.62373C15.2659 4.33584 15.0233 4.11725 14.7338 4.11725H12.0196V3.49842C12.0196 1.56946 10.4501 0 8.52117 0C6.59207 0 5.02261 1.56946 5.02261 3.49842V4.11725H2.30841C2.01893 4.11725 1.77627 4.33584 1.74597 4.62373L0.301898 18.3755C0.285228 18.5348 0.336978 18.6938 0.444102 18.813C0.551371 18.932 0.704157 19 0.864336 19H16.1777C16.338 19 16.4908 18.932 16.598 18.813C16.7054 18.6938 16.757 18.5348 16.7403 18.3755ZM6.15357 3.49842C6.15357 2.19307 7.21568 1.13096 8.52117 1.13096C9.82652 1.13096 10.8886 2.19307 10.8886 3.49842V4.11725H6.15357V3.49842ZM1.4923 17.869L2.81765 5.24821H5.02261V6.49442C5.02261 6.80666 5.27585 7.0599 5.58809 7.0599C5.90033 7.0599 6.15357 6.80666 6.15357 6.49442V5.24821H10.8886V6.49442C10.8886 6.80666 11.1419 7.0599 11.4541 7.0599C11.7664 7.0599 12.0196 6.80666 12.0196 6.49442V5.24821H14.2246L15.5499 17.869H1.4923Z"/>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </nav>
                <div class="navigation--mobile_menu">
                  <div class="site-header__icons-wrapper">
                    <ul class="cart-menu">
                      <li> 
                        <a href="https://jellyjim.com/collections/all/" class="mobileonly shopall">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 25 21" fill="none">
                            <path d="M24.0533 19.7642H23.4616V9.15565C24.4271 8.46852 25 7.35082 25 6.14067C25 6.03785 24.9736 5.93602 24.9242 5.84654L22.0686 0.698006C21.8297 0.267437 21.382 0 20.9007 0H4.09933C3.61804 0 3.17035 0.267437 2.93138 0.698006L0.0758157 5.84654C0.0263916 5.93602 0 6.03785 0 6.14117C0 7.35082 0.572937 8.46901 1.53839 9.15565V19.7642H0.943378C0.612764 19.7642 0.34357 20.0415 0.34357 20.3821C0.34357 20.7227 0.612764 21 0.943378 21H24.0533C24.3839 21 24.6531 20.7227 24.6531 20.3821C24.6531 20.0415 24.3839 19.7642 24.0533 19.7642ZM1.56814 5.54796L3.93138 1.28726C3.96593 1.22547 4.03023 1.18691 4.09933 1.18691H20.9002C20.9693 1.18691 21.0336 1.22547 21.0681 1.28726L23.4314 5.54796H1.56814ZM23.7783 6.73438C23.5173 7.82489 22.5537 8.61879 21.4429 8.61879C20.3325 8.61879 19.3695 7.82489 19.108 6.73438H23.7783ZM15.4808 8.61879C14.3704 8.61879 13.4074 7.82489 13.1459 6.73438H17.8157C17.5547 7.82489 16.5917 8.61879 15.4808 8.61879ZM9.51919 8.61879C8.40883 8.61879 7.44578 7.82489 7.18426 6.73438H11.8541C11.5926 7.82489 10.6296 8.61879 9.51919 8.61879ZM12.5 8.13879C13.1536 9.17542 14.2639 9.80521 15.4808 9.80521C16.6982 9.80521 17.8085 9.17542 18.4621 8.1383C18.6833 8.48681 18.9621 8.79676 19.2841 9.05085V15.5998C19.2841 15.6977 19.2068 15.7768 19.1123 15.7768H5.90307C5.80806 15.7768 5.73129 15.6972 5.73129 15.5998V9.03898C6.04655 8.78736 6.32006 8.48137 6.53791 8.1383C7.19146 9.17542 8.3023 9.80521 9.51919 9.80521C10.7361 9.80521 11.8464 9.17591 12.5 8.13879ZM2.69002 9.69448C2.97313 9.76813 3.26344 9.80521 3.55662 9.80521C3.88868 9.80521 4.21497 9.75824 4.53119 9.66481V15.5998C4.53119 16.3789 5.14635 17.0127 5.90259 17.0127H19.1123C19.8685 17.0127 20.4837 16.3789 20.4837 15.5998V9.66976C20.7946 9.75973 21.1161 9.80521 21.4429 9.80521C21.7361 9.80521 22.0264 9.76813 22.3095 9.69448V19.7642H2.69002V9.69448ZM3.55662 8.61879C2.44578 8.61879 1.48225 7.82489 1.22121 6.73438H5.89155C5.63052 7.82489 4.66747 8.61879 3.55662 8.61879Z" fill="white"/>
                          </svg>
                        </a>
                      </li>
                      <li> 
                        <a href="https://jellyjim.com/cart" class="mobileonly">
                          <svg style="position: relative; top: -1px;" xmlns="http://www.w3.org/2000/svg" width="19" height="22" viewBox="0 0 19 22" fill="none">
                            <path d="M18.9964 21.2769L17.328 5.35381C17.293 5.02046 17.0126 4.76735 16.6781 4.76735H13.5421V4.05081C13.5421 1.81728 11.7288 0 9.50008 0C7.2712 0 5.45784 1.81728 5.45784 4.05081V4.76735H2.32187C1.9874 4.76735 1.70703 5.02046 1.67203 5.35381L0.00354731 21.2769C-0.0157134 21.4614 0.0440786 21.6455 0.167849 21.7835C0.291788 21.9213 0.468317 22 0.653387 22H18.3464C18.5317 22 18.7082 21.9213 18.832 21.7835C18.9561 21.6455 19.0157 21.4614 18.9964 21.2769ZM6.76456 4.05081C6.76456 2.53935 7.99172 1.30954 9.50008 1.30954C11.0083 1.30954 12.2354 2.53935 12.2354 4.05081V4.76735H6.76456V4.05081ZM1.37893 20.6905L2.91024 6.07689H5.45784V7.51987C5.45784 7.88141 5.75044 8.17464 6.1112 8.17464C6.47196 8.17464 6.76456 7.88141 6.76456 7.51987V6.07689H12.2354V7.51987C12.2354 7.88141 12.528 8.17464 12.8888 8.17464C13.2496 8.17464 13.5421 7.88141 13.5421 7.51987V6.07689H16.0898L17.6211 20.6905H1.37893Z" fill="white"/>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <nav class="mobile-nav-wrapper medium-up--hide navigation--mobile" role="navigation">
                  <ul id="MobileNav" class="mobile-nav">
                    <li class="mobile-nav__item">
                      <a href="https://jellyjim.com/collections/all" class="mobile-nav__link">
                        <span class="mobile-nav__label">Products
                        </span>
                      </a>
                    </li>
                    <li class="mobile-nav__item">
                      <a href="https://jellyjim.com/pages/about-us" class="mobile-nav__link">
                        <span class="mobile-nav__label">About us
                        </span>
                      </a>
                    </li>
                    <li class="mobile-nav__item">
                      <a href="https://jellyjim.com/pages/contact-us" class="mobile-nav__link">
                        <span class="mobile-nav__label">Contact us
                        </span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </header>
        </div>
      </div>
      <div class="page-container drawer-page-content" id="PageContainer">
        <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
          <div class="page--wrapper">
            <div class="contact--page">
              <div id="shopify-section-custom-contact-section" class="shopify-section">
                <section id="section--custom-contact-section">
                  <div class="container">
                    <div class="section--inner">
                      <aside class="section-form">
                        <h2>Support Feedback:
                        </h2>
                        <h3>Ticket 
                          <%= ticket%> 
                            </h3>
      
                         <% if (positive) { %> <h4> You indicated that you had a positive experience with your recent support ticket, would you mind sharing what went well? 
                          </h4> <% } %>

                          <% if (negative) { %> 
                           <h4> You indicated that you had a negative experience with your recent support ticket, would you mind sharing what went wrong? </h4>  <% } %>

                          <br>
                          <h5> Comments: 
                          </h5>
                          <form method='post' action=''>
                            <textarea class='form-control' name='comments' >
                            </textarea>
                            <br>
                            <button class='btn' type='submit'>Submit Feedback
                            </button>
                          </form>
                          </div>
                      </aside>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </main>
        <div id="shopify-section-custom-footer_form" class="shopify-section">
        </div>
        <div id="shopify-section-custom-footer" class="shopify-section">
        </div>
       
    </body>
    </html>